<div class="dialog-container">
    <h1 mat-dialog-title> Check your email for the confirmation code and enter it below</h1>

    <div mat-dialog-content>
        <div *ngIf="!confirmationMailSent" class="h-100 m-0 p-0 d-flex justify-content-center align-items-center">
            <mat-spinner class="loading-spinner"></mat-spinner>
        </div>

        <div *ngIf="confirmationMailSent" class="row justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label> Confirmation code </mat-label>
                <input matInput [(ngModel)]="enteredCode">
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex">
        <button mat-dialog-close class="primary-action-btn action-btn">Cancel</button>
        <button *ngIf="confirmationMailSent" class="primary-action-btn action-btn ms-auto" (click)="submitCode()">
            Enter
        </button>
    </div>
</div>