.action-fab-btn {
    transform: scale(0.7);
}

.title {
    font-size: 20px;
    font-weight: 400;
}

.review-card {
    width: 800px;
}

.img-container {
    height: 400px;
}

.reviews-card {
    max-height: 700px;
    overflow-y: auto;
}

.booking-component {
    width: 85%;
}

.date-picker {
    // width: 400px;
    // height: 30px;
}

.location-header {
    height: 70px;
}

.title {
    font-size: 25px;
    font-weight: 500;
}

.restaurant-table:hover {
    cursor: pointer;
}

.label-icon {
    margin-left: 12px;
}