

.action-fab-btn {
    transform: scale(0.7);
}

.title {
    font-size: 20px;
    font-weight: 400;
}

.review-card {
    width: 800px;
}

.img-container {
    height: 400px;
}

.reviews-card {
    max-height: 700px;
    overflow-y: auto;
}

.booking-component {
    width: 85%;
}

.location-component {
    border: 1px solid white;
    border-radius: 10px;
}

.date-picker {
    width: 500px;
}

.location-header {
    height: 70px;
}